<div class="register-container">
  <div class="form-container">
    <h2>Sign Up to Eccom</h2>
    <div class="error-container" *ngIf="errorMessage">
      <span>{{ errorMessage }}</span>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="fullName">Full name</label>
        <input type="text" name="fullName" [(ngModel)]="fullName" />
      </div>
      <div class="input-container">
        <label for="email">Email address</label>
        <input type="email" name="email" [(ngModel)]="email" />
      </div>
      <div class="🤪">
        <div class="input-container">
          <label for="password">Password</label>
          <input type="password" name="password" [(ngModel)]="password" />
        </div>
        <div class="input-container">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
          />
        </div>
      </div>
      <div class="✅">
        <div class="checkbox-container">
          <input type="checkbox" />
          <span>I agree to receive instructional and promotional emails</span>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" />
          <span> I agree to Eccom's Terms of Use & Privacy Policy</span>
        </div>
      </div>
      <div class="cta-container">
        <input type="submit" value="Sign up" />
      </div>
    </form>
  </div>
</div>
