.login-container {
  padding: 24px 16px;
  .form-container {
    max-width: 475px;
    padding: 24px 16px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #fff;

    > h2 {
      text-align: center;
      margin-bottom: 32px;
    }
    > .error-container {
      padding: 12px;
      margin: 0 0 16px;
      color: #fff;
      background-color: rgb(248, 51, 51);
      border-radius: 4px;
    }
    > form {
      > .cta-container {
        margin-top: 36px;
        margin-bottom: 60px;
        text-align: center;
        > input[type="submit"] {
          padding: 16px 30px;
          border-radius: 50px;
        }
      }
      .forgot-password {
        text-align: center;
        font-size: 0.85rem;
        > a {
          color: #121212;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .login-container {
    padding: 90px 16px 240px;
    // background-color: #f5f5f8;
    .form-container {
      padding: 36px;
      border: 1px solid #ccc;
    }
  }
}

.input-container {
  margin-bottom: 12px;
  > label {
    font-size: 0.875rem;
    display: inline-block;
    margin-bottom: 6px;
  }
  > input {
    padding: 10px 12px;
    width: 100%;
  }
}
