<div class="profile-container">
  <div class="form-container">
    <h2>Profile</h2>
    <form>
      <div class="input-container">
        <label for="fullName">Full name</label>
        <input type="text" name="fullName" />
      </div>
      <div class="input-container">
        <label for="email">Email address</label>
        <input type="email" name="email" />
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="input-container">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" />
      </div>
      <div class="cta-container">
        <button>Update</button>
      </div>
    </form>
  </div>
</div>
