<div class="login-container">
  <div class="form-container">
    <h2>Sign In to Eccom</h2>
    <form>
      <div class="input-container">
        <label for="email">Email address</label>
        <input type="email" name="email" />
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="cta-container">
        <button>Sign in</button>
      </div>
      <div class="forgot-password">
        <a href="">Forgot password?</a>
      </div>
    </form>
  </div>
</div>
