<header class="header-container">
  <div class="header-container__left">
    <button (click)="toggleMenu()">Menu</button>
  </div>
  <div class="header-container__middle">
    <h3 routerLink="/">Eccom</h3>
  </div>
  <div class="header-container__right">
    <button routerLink="/login" *ngIf="!isLoggedIn">Login</button>
    <button routerLink="/profile" *ngIf="isLoggedIn">Profile</button>
  </div>
</header>

<div class="nav-container" *ngIf="!isMobile">
  <nav>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/login">Login</li>
      <li routerLink="/register">Register</li>
      <li routerLink="/profile">Profile</li>
      <li routerLink="/cart">Cart</li>
      <li routerLink="/product/1">Product</li>
      <li routerLink="/checkout">Checkout</li>
      <li routerLink="/order-history">Order History</li>
    </ul>
  </nav>
</div>

<div [className]="isMenuOpen ? 'side-menu show' : 'side-menu'">
  <div class="side-menu__content">
    <h2>Eccom</h2>
    <nav>
      <ul>
        <li routerLink="/" (click)="toggleMenu()">Home</li>
        <li routerLink="/profile" (click)="toggleMenu()">Profile</li>
        <li routerLink="/cart" (click)="toggleMenu()">Cart</li>
        <li routerLink="/order-history" (click)="toggleMenu()">
          Order History
        </li>
      </ul>
    </nav>
    <div class="🍑">
      <button routerLink="/login" (click)="toggleMenu()" *ngIf="!isLoggedIn">
        Login
      </button>
      <button routerLink="/register" (click)="toggleMenu()" *ngIf="!isLoggedIn">
        Register
      </button>
    </div>
  </div>
</div>

<div
  [className]="isMenuOpen ? 'darken-background enable' : 'darken-background'"
  (click)="toggleMenu()"
></div>
