.header-container {
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__left {
    > button {
      width: 72px;
      height: 100%;
      background-color: transparent;
      border: none;
      border-right: 1px solid #ccc;
      transition: all 0.2s ease;
      &:hover {
        background-color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
  }
  &__middle {
    flex-grow: 1;
    text-align: center;
  }
  &__right {
    > button {
      width: 72px;
      height: 100%;
      background-color: transparent;
      border: none;
      border-left: 1px solid #ccc;
      transition: all 0.2s ease;
      &:hover {
        background-color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
  }
}

.nav-container {
  padding: 16px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  > nav {
    > ul {
      display: flex;
      > li {
        cursor: pointer;
        margin-right: 16px;
      }
    }
  }
}

.side-menu {
  width: 285px;
  height: 100vh;
  position: fixed;
  top: 0px;
  padding: 16px;
  transform: translateX(-285px);
  background-color: #fff;
  border-right: 1px solid #ccc;
  transition: all 0.35s ease;
  z-index: 1000;
  > nav {
    > ul {
      > li {
        padding: 8px 0;
        margin-bottom: 12px;
        cursor: pointer;
      }
    }
  }
}

.side-menu.show {
  transform: translateX(0);
}

.darken-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.35s ease;
  z-index: 999;
  pointer-events: none;
}

.darken-background.enable {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}
